<div class="standing-container container mt-5">
    <div class="row">
        {{#each tables}}
        <div class="col-md-12">
            <div class="standing-warper">
                <div class="standing-title">GROUP {{group_letter}}</div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Rank</th>
                            <th>Teams</th>
                            <th>Matches</th>
                            <th>Won</th>
                            <th>Drawn</th>
                            <th>Lost</th>
                            <th>Scored</th>
                            <th>Conceded</th>
                            <th>Diff</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody class="standing-content">
                        {{#each teams}}
                        <tr>
                            <th scope="row">{{rank}}</th>
                            <td>
                                {{!--
                                <img class="standing-team-flag" src="/img/icon set 3/SVG/{{toLowerCase name}}.svg " alt="{{name}} flag icon"> --}}
                                <img data-fifa-code={{fifa_code}} class="standing-team-flag" src="{{getFifaIcon country}} " alt="{{country}} flag icon">
                                <span data-fifa-code={{fifa_code}} class="standing-team-name" href="#">{{country}}</span>
                            </td>
                            <td>{{games_played}}</td>
                            <td>{{wins}}</td>
                            <td>{{draws}}</td>
                            <td>{{losses}}</td>
                            <td>{{goals_for}}</td>
                            <td>{{goals_against}}</td>
                            <td>{{goal_differential}}</td>
                            <td>{{points}}</td>
                        </tr>
                        <tr class="stand-match-row">
                            <td colspan="10" class="hide">

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/each}}
        <!--for each -> for all 8 groups-->
    </div>
</div>